/* Color pallette: 
    Blue #031856 */

body, html {
  margin: 0px;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-weight: 300;
}

h1, h2 {
  font-family: 'Pacifico', cursive;
}

h3 {
  margin-top: 10px;
  margin-bottom: 40px;
}

h4 {
  display: inline;
}

.sideImage {
  width: 30%;
}

#logo {
  width: 60px;
  display: inline;
  margin: 80px 20px 0px 20px;
}

#logo2 {
  height: 20px;
}

#title {
  font-size: 20px;
  letter-spacing: 2px;
  color: #021A52;
}

#heading {
  height: 700px;
}

.aboutUs {
  font-size: 17px;
}

.image {
  position: relative;
  width: 100%;
}

#hero {
  background: url('http://res.cloudinary.com/dd6kwd0zn/image/upload/v1498161437/skyseee_i32xu3.jpg') 50% 0 no-repeat fixed;
  background-size: cover;
  min-height: 600px;
  position: relative;
  display: table;
  width: 100%;
  padding: 40px 0;
  /* Photo by Joshua Earle on Unsplash */
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  color: black;
}

.quote {
  font-weight: 400;
  font-size: 2em;
}

h3 {
  font-weight: 300;
}

.navbar {
  border-radius: 0px;
  background-color: white;
}

.navbar-default .navbar-nav>li>a {
  color: black;
}

#tech {
  background: url('https://cloud.githubusercontent.com/assets/15892944/13978778/eb3e4ef6-f090-11e5-982c-ae199fe2d945.jpg') no-repeat fixed center center;
  background-size: cover;
  height: 700px;
  color: black;
  font-size: 20px;
  padding: 60px 40px 60px 20px;
}

#aboutUs {
  background: url('https://cloud.githubusercontent.com/assets/15892944/13976694/9749ee74-f07f-11e5-9829-a03cd8fc6caf.jpg') no-repeat center;
  background-size: cover;
  height: 700px;
  padding: 60px 40px 60px 20px;
  font-size: 18px;
}

#aboutUs li {
  margin: 10px;
}

#contact {
  background: url('https://cloud.githubusercontent.com/assets/15892944/13979963/03e1ad06-f099-11e5-8645-08d3739aca43.jpg') no-repeat center;
  background-size: cover;
  height: 600px;
  font-size: 20px;
  width: 100%;
  padding: 30px;
}

#contact ul { list-style: none; }

#contact ul li a {
  color: white;
}

.section {
  padding-top:60px;
}
.well {
  background-color: rgba(0,0,0,0.3);
  border-style: none;
  padding-left:30px;
  width:60%;
  border-radius: 60%;
  color: white;
}
.well2 {
  background-color: rgba(255,255,255,0.3);
  border-style: none;
  margin-top: 20px;
}

.centered {
  margin-left:auto;
  margin-right:auto;
}

.nav li {
  padding-top: 1px;
}

.nav li a {
  font-weight: 400;
  border: 2px solid white;
}

.nav li a:hover {
  border: 2px solid #021A52;
  background-color: #021A52 !important;
  color: white !important;
}

.white {
  color: white;
}

.contacts {
  width: 100%;
}

.bold {
  font-weight: 400;
}

@media screen and (max-width:550px) {
  #tech, #aboutUs, #contact {
    padding-top: 20px;
    height: 500px;
  }
  #heading {
    height: 500px;
    background-color: #255671;
    padding-top: 60px;
  }
  h2 {
    font-size: 25px;
  }
  .well {
    width:100%;
    font-size: 14px;
  }
  .contacts {
    font-size: 14px;
  }
  .nav li {
    text-align: center;
  }
}

